setpayload/src/main/mule/setpayload.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="26b6a86f-1a12-47f2-b367-b2678ac8bd3e" >
		<http:listener-connection host="0.0.0.0" port="8089" />
	</http:listener-config>
	<flow name="setpayloadFlow" doc:id="d547f331-9b26-410a-80de-5a50cd58f8f9" >
		<http:listener doc:name="Listener" doc:id="16edd7a3-aff9-4497-9149-65e4e18d09e2" config-ref="HTTP_Listener_config" path="/testing">
			<ee:repeatable-file-store-stream />
		</http:listener>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="16588181-749a-4ac4-b3bb-61558ee168e6" />
	</flow>
</mule>
